@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Medium.eot');
    src: url('../fonts/Catamaran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Medium.woff2') format('woff2'),
        url('../fonts/Catamaran-Medium.woff') format('woff'),
        url('../fonts/Catamaran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Thin.eot');
    src: url('../fonts/Catamaran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Thin.woff2') format('woff2'),
        url('../fonts/Catamaran-Thin.woff') format('woff'),
        url('../fonts/Catamaran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-ExtraBold.eot');
    src: url('../fonts/Catamaran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Catamaran-ExtraBold.woff') format('woff'),
        url('../fonts/Catamaran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Light.eot');
    src: url('../fonts/Catamaran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Light.woff2') format('woff2'),
        url('../fonts/Catamaran-Light.woff') format('woff'),
        url('../fonts/Catamaran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Black.eot');
    src: url('../fonts/Catamaran-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Black.woff2') format('woff2'),
        url('../fonts/Catamaran-Black.woff') format('woff'),
        url('../fonts/Catamaran-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Bold.eot');
    src: url('../fonts/Catamaran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Bold.woff2') format('woff2'),
        url('../fonts/Catamaran-Bold.woff') format('woff'),
        url('../fonts/Catamaran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-SemiBold.eot');
    src: url('../fonts/Catamaran-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-SemiBold.woff2') format('woff2'),
        url('../fonts/Catamaran-SemiBold.woff') format('woff'),
        url('../fonts/Catamaran-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-Regular.eot');
    src: url('../fonts/Catamaran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-Regular.woff2') format('woff2'),
        url('../fonts/Catamaran-Regular.woff') format('woff'),
        url('../fonts/Catamaran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-ExtraLight.eot');
    src: url('../fonts/Catamaran-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Catamaran-ExtraLight.woff2') format('woff2'),
        url('../fonts/Catamaran-ExtraLight.woff') format('woff'),
        url('../fonts/Catamaran-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}